 :root{
    --primary-color:hsl(223, 87%,63%);
    --secondary-light-color:hsl(223, 100%, 88%);
    --secondary-color:hsl(354,100%,66%);
    --neutral-light-color: hsl(0, 0%, 59);
    --neutral-dark-color: hsl(209, 33%, 12%);
    --font-size:20px;
    --fw-light:300;
    --fw-bold:600;
    --fw-bolder:700;

}

*,*:focus{
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
    line-height: 1.6;
}

a{
    text-decoration: none;
    
} 

h1{
    
    line-height: 1.2;
}

h1 span {
    font-weight: var(--fw-light);
    color: var(--neutral-light-color);
    
}

p{
    font-weight: var(--fw-bolder);
    margin: 5px 0;
}

.main{
    max-width: 550px;
    padding: 60px 0;
}

img{
    width: 100%;
}

.heading-section img{
    width: 50px;
    margin-bottom: 30px;

}

 .main{
    text-align: center;
    margin: 0 auto;
} 
.email-section{
    margin: 30px 0;
}




.email-section input[type = "email"]{
    width: 60%;
    border: var(--secondary-light-color) 2px solid;
    border-radius: 45px;
    padding: 10px;
    margin-bottom: 10px;
}

.email-section input[type= "submit" ]{
    width: 30%;
    padding: 10px;
    border: var(--secondary-light-color) 2px solid;
    border-radius:45px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 1px 5px 15px  var(--secondary-light-color);
    
}
.illustration img{
    padding: 40px 0;
    margin: 30px 0;
}

.social-icons {
    color: var(--primary-color);
    padding-top: 40px;
    padding-bottom:20px;
}

.social-icons a{
    text-decoration: none;
    color: inherit  ;
}

.social-icons i{
    padding: 5px;
    border:1px solid var(--secondary-light-color) ;
    border-radius: 30px;
    margin: 0 20px;
}

.attribution{
    text-align: center;
    font-size: 11px;
    
}

.attribution a{
    color: var(--primary-color);
}





 
@media (max-width:575px){
    .main{
        margin: 10px;
        padding: 50px;
        height: 100%;
        text-align: center;
    }
        
    

    .heading-section img{
        width: 50px;
        padding-bottom: 25px;
    }
    .heading-section h1{
        padding-bottom: 15px;
    }

    .heading-section p{
        font-weight: var(--fw-bold);
        padding-bottom:30px ;
    }

    .email-section input[type = "email"]{
        width: 100%;
    }

    .email-section input[type= "submit" ]{
        width: 100%;
    }
    
}





